
.mentions-user {
  /* Background Colour */
  @apply bg-neutral-200 dark:bg-neutral-800;
  /* Border */
  --border-left-width: 2px;
  border-left-width: var(--border-left-width);
  @apply rounded-md border-zinc-400;
  /* Padding */
  --padding: 1.5%;
  padding: 0 var(--padding);
  /* Width */
  width: calc(100% + var(--border-left-width) + var(--padding) * 2);
  margin-right: calc(-1 * var(--padding));
  margin-left: calc(-1 * (var(--padding) + var(--border-left-width)));
}
.first-unread::before {
  @apply border-y dark:border-neutral-800 py-1 my-1.5;
  content: "New messages";
  color: rgb(239, 68, 68);
  text-align: center;
  width: 100%;
}

.post-content {
  --line-height: 1.333rem;
  --max-lines: 9;
  max-height: calc(var(--line-height)*var(--max-lines));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
  /* Limits number of lines */
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  line-clamp: var(--max-lines);
}