.editing {
  animation: edit-blink 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  /* Border */
  @apply rounded-md;
  /* Padding */
  --padding: 2.25%;
  padding: 0 var(--padding);
  /* Width */
  width: calc(100% + var(--padding) * 2);
  margin-right: calc(-1 * var(--padding));
  margin-left: calc(-1 * (var(--padding)));
  /* Background */
  &:where(.dark, .dark *) {
    --background-color: rgb(55, 55, 55) !important;
  }
  --background-color: rgb(219 219 219);
}
@keyframes edit-blink {
  0%, 100% {
    background-color: rgb(0 0 0 / 0);
  }
  50% {
    background-color: var(--background-color);
  }
}