@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-border: white;
  --scroll-track: rgb(204 204 204);
  --scroll-thumb: rgb(193 193 193);
  &:where(.dark, .dark *) {
    --scroll-border: rgb(24 24 27);
    --scroll-track: rgb(64 64 64);
    --scroll-thumb: rgb(75 75 75);
  }

  scrollbar-width: thin;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar
{
	width: 5px;
	background-color: var(--scroll-track);
}
*::-webkit-scrollbar-track
{
	border: 1px solid var(--scroll-border);
	background-color: var(--scroll-track);
}
*::-webkit-scrollbar-thumb
{
	background-color: var(--scroll-thumb);
}

.first-unread::before {
  @apply border-y dark:border-neutral-800 py-1 my-1.5;
  content: "New messages";
  color: rgb(239, 68, 68);
  text-align: center;
  width: 100%;
}

.modal {
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0,0,.2,1);
}
.modal-box {
	max-height: calc(100vh - 5em);
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-timing-function: cubic-bezier(0,0,.2,1);
	transition-duration: .2s;
}

.mentions-user {
  /* Background Colour */
  @apply bg-neutral-200 dark:bg-neutral-800;
  /* Border */
  --border-left-width: 2px;
  border-left-width: var(--border-left-width);
  @apply rounded-md border-zinc-400;
  /* Padding */
  --padding: 1.125%;
  padding: 0 var(--padding);
  /* Width */
  width: calc(100% + var(--border-left-width) + var(--padding) * 2);
  margin-right: calc(-1 * var(--padding));
  margin-left: calc(-1 * (var(--padding) + var(--border-left-width)));
}

.editing {
  animation: edit-blink 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  /* Border */
  @apply rounded-md;
  /* Padding */
  --padding: 2.25%;
  padding: 0 var(--padding);
  /* Width */
  width: calc(100% + var(--padding) * 2);
  margin-right: calc(-1 * var(--padding));
  margin-left: calc(-1 * (var(--padding)));
  /* Background */
  &:where(.dark, .dark *) {
    --background-color: rgb(55, 55, 55) !important;
  }
  --background-color: rgb(219 219 219);
}
@keyframes edit-blink {
  0%, 100% {
    background-color: rgb(0 0 0 / 0);
  }
  50% {
    background-color: var(--background-color);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  inset-inline-end: 0px;
  bottom: 100%;
  top: auto;

  > * {
    @apply inline-flex w-full min-w-max cursor-pointer items-center gap-x-2 py-1 px-2 rounded-md;
    &:hover {
      @apply bg-neutral-400 dark:bg-neutral-700;
    }
  }
}
.hoverable-dropdown:hover .dropdown>.btn.trigger {
  @apply opacity-100;
}
.dropdown>*:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}
.dropdown:focus-within .dropdown-content {
  visibility: visible;
  opacity: 1
}

.hide {
  opacity: 0;
  position: absolute;
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
}