@tailwind base;
@tailwind components;
@tailwind utilities;

.last-post-msg::after {
  @apply border-t dark:border-t-neutral-800 pt-1 mt-1;
  content: "New messages";
  color: rgb(239, 68, 68);
  text-align: center;
  width: 100%;
}
